<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<title>Users</title>

</head>
<body>
<!--<nav class="navbar navbar-default"></nav>nav-->
<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Bootstrap project</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout?">Logout</a>
        </li>
    </ul>
</nav>

           <!--на всю ширину экрана-->
<div class="container-fluid">

    <div class="row">
        <div class="col-2 p-3 ">
            <div>
                <a class="btn btn-outline-primary  btn-block" href="/user">User</a>
            </div>
            <div>
                <a class="btn btn-outline-primary  btn-block mt-2" href="/admin">Admin</a>
            </div>
        </div>


        <div class="col-10 p-3 mb-2 bg-light text-dark">
            <h4> Главная панель </h4>
                 <!-- меню делать в ul-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                       aria-controls="profile"
                       aria-selected="false">New user</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
<!--                    table-striped-->
                    <table id="tableUsers" class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Login</th>
                            <th scope="col">Password</th>
                            <th scope="col">User Role</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
<!--                        <tbody>-->
<!--                        <tr th:each="user: ${usersFromServer}">-->
<!--                            <td th:text="${user.id}"></td>-->
<!--                            <td th:text="${user.name}"></td>-->
<!--                            <td th:text="${user.login}"></td>-->
<!--                            <td th:text="${user.password}"></td>-->
<!--                            <td th:text="${user.roles[0].getRole()}"></td>-->

<!--                            <td>-->
<!--&lt;!&ndash;                                <form th:action="@{'api/admin/delete/' + ${user.id}}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <input class="btn btn-outline-primary" type="submit" value="Delete"/>&ndash;&gt;-->
<!--&lt;!&ndash;                                </form>&ndash;&gt;-->
<!--                                <button onclick="deleteFunction()">Delete</button>-->
<!--                            </td>-->

<!--                            <td>-->
<!--                                <button type="button" class="btn btn-primary" data-toggle="modal"-->
<!--                                        th:attr="data-target=@{'#exampleModal-' + ${user.id}}">-->
<!--                                    Edit-->
<!--                                </button>-->

<!--                                &lt;!&ndash; Модально окно - поверх всего документа и блокируют прокрутку тела документа <body>, вместо него прокручивая модальные окна &ndash;&gt;-->
<!--                                <div class="modal fade" th:attr="id=@{'exampleModal-' + ${user.id}}" tabindex="-1" role="dialog"-->
<!--                                     aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                                    <div class="modal-dialog" role="document">-->
<!--                                        <div class="modal-content">-->
<!--                                            <div class="modal-header">-->
<!--                                                <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>-->
<!--                                                <button type="button" class="close" data-dismiss="modal"-->
<!--                                                        aria-label="Close">-->
<!--                                                    <span aria-hidden="true">&times;</span>-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                            <form th:action="@{'/admin/edit/' + ${user.id}}" method="POST">-->
<!--                                                <div class="modal-body">-->

<!--                                                    <strong>Username</strong>-->
<!--                                                    <input class="d-flex justify-content-center form-control form-control-lg" type="text" th:attr="value=@{${user.name}}"-->
<!--                                                           placeholder="name" name="name" required>-->
<!--                                                    <strong>Login</strong>-->
<!--                                                    <input class="d-flex justify-content-center form-control form-control-lg" type="text" th:attr="value=@{${user.login}}"-->
<!--                                                           placeholder="login" name="login" required>-->
<!--                                                    <strong>Password</strong>-->
<!--                                                    <input class="d-flex justify-content-center form-control form-control-lg" type="text" th:attr="value=@{${user.password}}"-->
<!--                                                           placeholder="password" name="password" required>-->
<!--                                                    <div class="modal-footer">-->
<!--                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                                        <button type="submit" value="Edit" class="btn btn-primary">Edit</button>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
                    </table>
                </div>

                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="col-4 mx-auto">
<!--                        <form id="newUser" method="post">-->

                        <form action="/admin/save/" method="POST" onsubmit="return saveUser(this)">
                            <label class="d-flex justify-content-center" for="name"><strong>Username</strong></label>
                            <input class="form-control form-control-lg" type="text" id="name" placeholder="name"
                                   name="name">

                            <label class="d-flex justify-content-center" for="login"><strong>Login</strong></label>
                            <input class="form-control form-control-lg" type="text" id="login" placeholder="login"
                                   name="login">

                            <label class="d-flex justify-content-center"
                                   for="password"><strong>Password</strong></label>
                            <input class="form-control form-control-lg" type="text" id="password" placeholder="password"
                                   name="password">

                            <div class="d-flex justify-content-center pt-2">
                                <select class="btn btn-secondary dropdown-toggle" name="role">
                                    <option>USER</option>
                                    <option>ADMIN</option>
                                </select>
                            </div>

                            <div class="d-flex justify-content-center pt-2">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/table.js"></script>


<!--<table.js>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>User name</th>-->
<!--        <th>Login</th>-->
<!--        <th>User password</th>-->
<!--    </tr>-->
<!--    <tr th:each="user: ${usersFromServer}">-->
<!--            <td th:text="${user.id}">Nothing</td>-->
<!--            <td th:text="${user.name}">Nothing</td>-->
<!--            <td th:text="${user.login}">Nothing</td>-->
<!--            <td th:text="${user.password}">Nothing</td>-->
<!--            <td>-->
<!--                <form th:action="@{'/admin/delete/' + ${user.id}}" method="POST">-->
<!--                    <input type="submit" value="Delete"/>-->
<!--                </form>-->
<!--            <td>-->
<!--            <td>-->
<!--            <form th:action="@{'/admin/edit/' + ${user.id}}">-->
<!--                <input type="submit" value="Edit"/>-->
<!--            </form>-->
<!--            <td>-->
<!--    </tr>-->
<!--</table.js>-->
<!--<form action="/admin/save">-->
<!--    <input type="submit" value="Добавить">-->
<!--</form>-->

<!--<form action="/logout" method="post">-->
<!--    <input type="submit" value="Logout">-->
<!--</form>-->

</body>
</html>
